@model IEnumerable<Ubrania_ASP.NET_Nowy.Models.Agreement>

@{
    ViewData["Title"] = "Index";
}
<br />
<h2>Lista Umów</h2>
<br />
<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<div class="form-border">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Numer Umowy
                </th>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Nr. Tel
                </th>
                <th>
                    Pesel
                </th>
                <th>
                    Data Rozpoczęcia
                </th>
                <th>
                    Data Końca
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pesel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Begin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>*@
                        @Html.Partial("_TableButtonPartial",item.Id)

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>